extends layout

block head
  link(rel="stylesheet" href="/stylesheets/index.css")

block header
  include header.pug

block content
  div.max-w-800.p-10.m-lr-auto
    h1= title
    p.text-center Welcome to #{title}
    .article-lists.max-w-600
      for item in articles||[]
        .article-item
          h2.article-title=  'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, aut!'
          div.describe= item.content +  'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit dolorum earum quisquam nihil voluptate quaerat eius error nemo, delectus cumque?'
          span.article-date 2017.7月.7日

    .page-nav.max-w-600.float-clear
      a.btn.float-left(
        class= havePageUp?'':"btn-disable"
        href= pathPageUp
        ) 上一页
      .btn.float-right(
        class= havePageDown ? '':'btn-disable'
        href= pathPageDown
      ) 下一页
